@font-face {
    font-family : 'Roboto';
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family : 'Roboto';
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family : 'BaiJamjuree';
    src: url(fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
    font-weight: 700;
}
:root{
    --primary-color: #013456;
    --accent-color : #FAD405;
}

:root{
    --primary-color : aa;
    --second-color : bb;
}

body, p ,a{
    margin : 0 ;
    padding: 0;
    border: none;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color: black;
    background-image: url("assets\images\Memories.svg");
}


aside{
    width: 50%;
    border: none;
}
main{
    width : 50%;
    border: none;
}
.container{
    height: 900px;
    width: 720px;
    border-radius: 0px;
    margin: 64px 120px 64px 120px;
    border: none;
    display: block;
}

.aside-nav{
    height: 40px;
    width: 480px;
    border-radius: 0px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    color: rgba(190, 190, 191, 1);
}

.aside-nav a {
    color: rgba(190, 190, 191, 1);
}

.aside-container{
    height: 234px;
    width: 420px;
    border-radius: 0px;
    padding-top: 238px;
    padding-bottom: 238px ;
    border: none;
}

.aside-footer{
    height: 22px;
    width: 480px;
    border-radius: 0 px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-Weight :400 ;
    font-size :14px;
    color: rgba(158, 158, 160, 1);
}

.aside-footer a{
    color: rgba(158, 158, 160, 1);
}

.aside-nav-text {
    width : 140px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-Weight :400 ;
    font-size :14px;
}
.aside-nav-text a,
.aside-nav-text p{
    padding: 0;
    margin: 0;
}

.aside-nav-img{
    width: 40px;
    height: 40px;
    padding-right: 12px;

}

.logo{
    width: 160px ;
    height : 48px ;
}

.aside-container-text{
    width: 420px;
    height : 112px;
    gap : 4  px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.aside-container-text h1{ 
    padding: 0px;
    margin: 0px;
font-Weight :700 ;
font-size :40px;
color: rgba(234, 234, 234, 1);
}

.aside-container-text p{ 
    font-Weight :400 ;
    font-size :18px;
    color: rgba(190, 190, 191, 1);

}

button{
    width : 214px;
    height : 34px;
    padding: 0px 20px;
    border-radius: 17px;
    font-family: 'BaiJamjuree';
    font-Weight :700 ;
    font-size : 12px;
    background-color: rgba(4, 211, 97, 1);
    color : rgba(9, 9, 10, 1) ;

}

.upper-container{
    height: 421px;
    width: 592px;
    margin-left: 64px;
    margin-top: 64px;
    border-radius: 0px;  
    border: none;

}
.upper-container-img{
    height: 280px;
    width: 592px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 8px;
}

.upper-container-text{
    height: 87px;
    width: 592px;
    margin-left: 0px;
    margin-top: 16px;
    border-radius: 0 px;
    font-family: 'Roboto';
    font-Weight :400 ;
    font-size :18px;
    color: rgba(190, 190, 191, 1);

}
.upper-container-text a{
    font-size :14px;
    color: rgba(158, 158, 160, 1);


}

.buttom-container{
    height: 383px;
    width: 592px;
    margin-left: 64px;
    margin-top:40px;
    border-radius: 0px;
    border: none;
}

.buttom-container-img{
    height: 280px;
    width: 592px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 8px;

}
.buttom-container-text{
    height: 87px;
    width: 592px;
    margin-left: 0px;
    margin-top: 16px;
    border-radius: 0 px;
    font-family: 'Roboto';
    font-Weight :400 ;
    font-size :18px;
    color: rgba(190, 190, 191, 1);

}


